
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    background: #eee;
    font-family: 'Roboto', sans-serif;
  }

/* Header section style */  /* */

.header{
    gap: 40px;
    padding: 8px;
    background: #ffc09f;
     border-bottom: 1px solid #dea689;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    gap: 125px;
}
.logo{
    color: #0088cc;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    color: #3ca1eb;
    padding: 15px;
}

.nav-link:hover{
    color: #3ca1eb;
    border-bottom: 3px solid #0088cc;
}


/* Hero section style */

.hero{
    display: flex;
    background: #ffc09f;
    height: 450px;
}

.hero-left h1{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-left p{
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
}

.img-hero img{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    border: 3px solid #95b8d1;
    background-color: #7faeb9;
}
/* Buttons style */

.button{
    border: none;
    border-radius: 10px;
    width: 150px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50;  
   
}

.button1:hover {
    background-color: #71ca7b ;  
  }

.button2 {
    
    background-color: #008CBA;
}

.button2:hover {
    background-color: #7faeb9;
  }


  /* Info section style */

    .container-info{
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 52px;
        background-color: paleturquoise;
        height: 200px;
    }

    .info{
        max-width: 200px;
    }
  .container-info img{
    width: 100px;
    height: 100px;
  }

  .info-title {
    background-color: paleturquoise;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding: 32px 0;
  }

  /* Quote section style */

  .quote{
      background-color: aliceblue;
      display: flex;
      flex-direction: column;
      padding: 70px 280px;
  }

  .quote em {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
  }

  .quote p {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
  }